
@{
    ViewBag.Title = "Cards";
}

<h2>Your Cards:</h2>
    <div class="container">
        <div class="row align-items-center">
        
            <form name="pickCards" method="post" action="/Home/Redraw">
                @for (int i = 0; i < ViewBag.Cards.Count; i++)
                {
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">@ViewBag.Cards[i].value OF @ViewBag.Cards[i].suit</div>
                            <div class="panel-body">
                                <img src="@ViewBag.Cards[i].image" /><br /><br />
                                
                                Keep? <input name="code" value="@ViewBag.Cards[i].code" type="checkbox" />
                                @*<select name="keepCard">
                                    <option value="discard">Discard</option>
                                    <option value="keep">Keep Card</option>
                                </select>*@

                            </div>
                        </div>
                    </div>
                }
                <button class="btn btn-primary" type="submit">Re-Draw</button>

            </form>
        </div>
    </div>

